.additional {
  position: relative;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 20px;

  @media (min-width: @tablet-width) {
    width: 708px;
    margin-bottom: 78px;
  }

  @media (min-width: @desktop-width) {
    margin: 0 auto;
    margin-bottom: 87px;
    width: 1220px;
  }
}

.additional__line {
  content: "";
  position: absolute;
  top: 12px;
  right: -20px;
  width: 53px;
  height: 2px;
  background-color: @basic_green;

  @media (min-width: @tablet-width) {
    content: "";
    position: absolute;
    top: 70px;
    right: -30px;
    width: 328px;
    height: 2px;
    background-color: @basic_green;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -440px;
      width: 30px;
      height: 2px;
      background-color: @basic_green;
    }
  }

  @media (min-width: @desktop-width) {
    content: "";
    position: absolute;
    top: 70px;
    right: -110px;
    width: 957px;
    height: 2px;
    background-color: @basic_green;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: -470px;
      width: 70px;
      height: 2px;
      background-color: @basic_green;
    }
  }
}

.additional__card {
  height: 125px;
  border-bottom: 1px solid @special__grey;

  @media (min-width: @tablet-width) {
    height: 138px;
    display: flex;
    flex-wrap: wrap;
  }

  @media (min-width: @desktop-width) {
    height: 71px;
    display: flex;
    align-items: center;
    margin: 0;
  }
}

.additional__title {
  font-size: 24px;
  line-height: 24px;
  padding-bottom: 36px;
  border-bottom: 1px solid @special__grey;

  @media (min-width: @tablet-width) {
    font-size: 36px;
    line-height: 36px;
    padding-top: 48px;
    padding-bottom: 80px;
    margin-left: 37px;
    border: none;
  }

  @media (min-width: @desktop-width) {
    margin: 0;
  }
}

.additional__subtitle {
  font-size: 16px;
  line-height: 16px;
  color: @special__dark-grey-2;

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 16px;
    color: @special__dark-grey-2;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 16px;
    color: @special__dark-grey-2;
  }
}

.additional__table {
  width: 280px;
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special__dark-grey;

  @media (min-width: @tablet-width) {
    width: 225px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: @special__dark-grey;
  }

  @media (min-width: @desktop-width) {
    width: 325px;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 14px;
    line-height: 14px;
    color: @special__dark-grey;
  }
}

.additional__text {
  @media (min-width: @tablet-width) {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 632px;
    margin: 0 auto;
  }
}

.additional__cell2 {
  text-align: right;

  @media (min-width: @tablet-width) {
    width: 95px;
  }

  @media (min-width: @desktop-width) {
    width: 80px;
    text-align: left;
  }
}

.additional__cell1 {
  @media (min-width: @tablet-width) {
    text-align: right;
  }

  @media (min-width: @desktop-width) {
    width: 245px;
    text-align: left;
  }
}

.additional__button {
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 40px;
  margin-top: 15px;
  color: @basic__white;
  background-color: @basic_green;
  border: none;

  &:hover {
    background-color: @basic_green-2;
  }

  &:active {
    color: @special__white;
  }

  @media (min-width: @tablet-width) {
    font-size: 16px;
    line-height: 20px;
    width: 632px;
    height: 40px;
    margin: 0 auto;
    color: @basic__white;
    background-color: @basic_green;
    border: none;
  }

  @media (min-width: @desktop-width) {
    font-size: 16px;
    line-height: 20px;
    width: 244px;
    height: 40px;
    color: @basic__white;
    background-color: @basic_green;
    border: none;
  }
}

.additional__desktop {
  @media (min-width: @tablet-width) {
    width: 708px;
    height: 556px;
    border: 1px solid @special__grey;
  }

  @media (min-width: @desktop-width) {
    width: 896px;
    height: 288px;
    border-top: 1px solid @special__grey;
  }
}

.additional__block {
  @media (min-width: @tablet-width) {
    margin-top: -31px;
  }

  @media (min-width: @desktop-width) {
    display: flex;
    margin: 0;
  }
}
