.additional__title {
  font-size: 24px;
  line-height: 24px;
}

.sweetener__title,
.water__title,
.milk__title,
.vitamins__title {
  font-size: 16px;
  line-height: 16px;
  color: @special__dark-grey-2;
}

.sweetener__table,
.water__table,
.milk__table,
.vitamins__table {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: @special__dark-grey;
}

.sweetener__button,
.water__button,
.milk__button,
.vitamins__button {
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 40px;
  color: @basic__white;
  background-color: @basic_green;
  border: none;
}
