.card__title {
  font-size: 16px;
  line-height: 20px;
  color: @special__dark-grey-2;
}

.card__table {
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 12px;
  line-height: 16px;
}

.card__button {
  font-size: 16px;
  line-height: 20px;
  width: 280px;
  height: 40px;
  color: @basic__white;
  background-color: @basic_green;
  border: none;
}
