.form__title {
  font-size: 36px;
  line-height: 36px;
}

.form__information__list,
.form__result__list,
.form__contacts__list,
.form__additionally__list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.form__information,
.form__result,
.form__contacts,
.form__comment,
.form__additionally {
  padding: 0;
  margin: 0;
  border: none;
}

.form__information,
.form__result {
  font-size: 16px;
  line-height: 18px;
  color: @special__dark-grey;
  width: 320px;
  height: 161px;
  border-bottom: 1px solid @special__grey;
}

.form__result {
  width: 320px;
  height: 157px;
}

.form__contacts {
  width: 320px;
  height: 258px;
}

.form__contacts-title,
.form__comment-title,
.form__additionally-title {
  font-size: 24px;
  line-height: 26px;
}

.form__contacts__list,
.form__additionally__list {
  font-size: 16px;
  line-height: 18px;
}

.form__contacts__list {
  color: @special__dark-grey;
}

.form__comment {
  width: 320px;
  height: 221px;
}

.form__additionally {
  width: 320px;
  height: 225px;
}

.form__button {
  width: 320px;
  height: 40px;
  background-color: @basic_green;
  border: none;
}
