
@media (min-width: @mobile-width-only) {
  .form__wrapper {
    width: 320px;
    margin: 0 auto;
  }

  .form__title {
    font-size: 36px;
    line-height: 36px;
  }

  .form__button {
    width: 320px;
    height: 40px;
    background-color: @basic_green;
    border: none;
  }
}

@media (min-width: @tablet-width) {
  .form__wrapper {
    width: 707px;
    margin: 0 auto;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__subtitle {
    font-size: 20px;
    line-height: 30px;
  }

  .form__button {
    width: 282px;
    height: 52px;
    background-color: @basic_green;
    border: none;
  }
}

@media (min-width: @desktop-width) {
  .form__wrapper {
    width: 1220px;
    margin: 0 auto;
  }

  .form__desktop {
    display: flex;
  }

  .form__title {
    font-size: 60px;
    line-height: 60px;
  }

  .form__button {
    width: 586px;
    height: 52px;
    background-color: @basic_green;
    border: none;
  }
}
