@media (min-width: @mobile-width-only) {
  .information__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .information {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 16px;
    line-height: 18px;
    color: @special__dark-grey;
    width: 320px;
    height: 161px;
    border-bottom: 1px solid @special__grey;
  }
}

@media (min-width: @tablet-width) {
  .information__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .information {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
    color: @special__dark-grey;
    width: 707px;
    height: 161px;
    border-bottom: 1px solid @special__grey;
  }
}

@media (min-width: @desktop-width) {
  .information__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .information {
    padding: 0;
    margin: 0;
    border: none;
    font-size: 20px;
    line-height: 30px;
    color: @special__dark-grey;
    width: 570px;
    height: 161px;
    border-bottom: 1px solid @special__grey;
  }
}
