.map {
  background-color: @basic__grey;
  margin: 0 auto;
  width: 320px;
  height: 362px;

  @media (min-width: @tablet-width) {
    width: 768px;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    width: 100%;
    height: 400px;
  }
}

.map-iframe {
  width: 320px;
  height: 362px;
  pointer-events: auto;

  @media (min-width: @tablet-width) {
    margin: 0 auto;
    width: 768px;
    background-color: @basic__grey;
    height: 400px;
  }

  @media (min-width: @desktop-width) {
    background-color: @basic__grey;
    width: 100%;
    height: 400px;
  }
}
