.map {
  background-color: @basic__grey;
  width: 320px;
  height: 400px;
}

@media (min-width: @tablet-width) {
  .map-iframe {
    background-color: @basic__grey;
    width: 768px;
    height: 400px;
  }
}

@media (min-width: @desktop-width) {
  .map-iframe {
    background-color: @basic__grey;
    width: 1440px;
    height: 400px;
  }
}
