
@media (min-width: @mobile-width-only) {
  .operation__title {
    margin-left: 20px;
    font-size: 36px;
    line-height: 40px;
  }

  .operation__item {
    display: flex;
    font-family: "Arial", "Helvetica", sans-serif;
    font-weight: normal;
    font-size: 14px;
    line-height: 18px;
  }

  .operation__img {
    margin: 0 20px;
  }

  .operation__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .operation__wrapper {
    margin: 0 auto;
    width: 320px;
  }
}


@media (min-width: @tablet-width) {
  .operation__wrapper {
    margin: 0 auto;
    width: 768px;
  }

  .operation__title {
    font-size: 60px;
    line-height: 60px;
  }

  .operation__item {
    display: grid;
    font-size: 16px;
    line-height: 24px;
  }

  .operation__list {
    display: grid;
    gap: 20px;
    grid-template-columns: 350px 350px;
  }
}

@media (min-width: @desktop-width) {
  .operation {
    margin: 0 auto;
  }

  .operation__wrapper {
    margin: 0 auto;
    width: 1440px;
    height: 456px;
  }

  .operation__list {
    display: flex;
    justify-content: space-around;
  }
}
