@media (min-width: @mobile-width-only) {
  .page-header__logo {
    display: flex;
    justify-content: space-around;
    height: 66px;
    border-bottom: 1px solid @basic__grey-2;
  }

  .page-header__toggle {
    width: 23px;
    height: 23px;
  }
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header {
    width: 768px;
    margin: 0 auto;
    display: flex;
  }

  .page-header__logo {
    width: 196px;
    display: flex;
    justify-content: start;
  }
}

@media (min-width: @desktop-width) {
  .page-header {
    width: 1440px;
    margin: 0 auto;
  }

  .page-header__logo {
    width: 720px;
    display: flex;
    justify-content: start;
  }
}
