@media (min-width: @mobile-width-only) {
  .page-footer__logo {
    width: 320px;
    height: 95px;
    text-align: center;
    background-color: @basic__grey;
    margin-bottom: 0;
  }
}


@media (min-width: @tablet-width) {
  .page-footer-tablet {
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 768px;
  }

  .page-footer__logo {
    width: 256px;
    height: 146px;
  }
}

@media (min-width: @desktop-width) {
  .page-footer {
    background-color: @basic__grey;
  }

  .page-footer__logo {
    width: 480px;
    height: 149px;
  }

  .page-footer-tablet {
    width: 1440px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: 480px 480px 480px;
  }
}
