.page-header__logo {
  display: flex;
  justify-content: space-around;
  width: 320px;
  height: 66px;
  border-bottom: 1px solid @basic__grey-2;
}

.page-header__toggle {
  width: 23px;
  height: 23px;
}

@media (min-width: @tablet-width) {
  .page-header__toggle {
    display: none;
  }

  .page-header {
    display: flex;
    width: 708px;
    height: 78px;
  }
}
