@media (min-width: @mobile-width-only) {
  .social__list {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .social {
    width: 320px;
    height: 63px;
    margin-top: -16px;
    background-color: @basic__grey;
  }
}


@media (min-width: @tablet-width) {
  .social {
    width: 256px;
    height: 146px;
    margin: 0;
  }
}

@media (min-width: @desktop-width) {
  .social {
    height: 149px;
    margin: 0;
  }
}
